*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
}

.container{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
}

.prev, .next{
    background-color: #fff;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
    left: calc(50% - 20px);
    margin: 10px;
    cursor: pointer;
}



.items-1{
    height: 100%;
    width: 75%;
    display: flex;
}

.items-2{
    height: 100%;
    width: 25%;
}

.current-image{
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
}

.current-image.active{
    display: block;
}

.text{
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 20px;
}

.small-items{
    width: 100%;
    height: calc(100% / 5);
    position: relative;
}

.items-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-items:last-child{
    background-image: url(img/05.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.small-items:first-child{
    background-image: url(img/01.webp);
    background-size: cover;
}

.small-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


